# Data Science Tools and Ecosystem

**In this notebook, the tools and ecosystem of Data Science are summarized.**

**Objetives:**
1. Create a markdown cell to list data science languages
2. Create a markdown cell to list data science libraries
3. Create a markdown cell with a table of Data Science tools
4. Create a markdown cell introducing arithmetic expression examples
5. Create a code cell to convert minutes to hours

**Some of the widely used languages by Data Scientists include:**
1. Java
2. C++
3. Julia

**Data science leverages powerful libraries to process and analyze complex datasets efficiently. Here are three essential libraries for data science:**
1. NumPy
2. Pandas
3. Scikit-learn

| Data Science Tools | 
|--------------------|
|Jupyter Notebook | 
|RStudio | 
|Apache Zeppelin |

### Here are some examples of evaluating arithmetic expressions in Python.

In [1]:
(3*4)+5
#This is a basic arithmetic expression for multiplying and then adding integers.

17

In [3]:
200/60 
#This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author:  
Mendez Orozco Axel